.header {
    width: 100%;
    height: 48px;
    background-color: #fff;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    font-size: 14px;
    color: #2F2F2F;
    white-space: nowrap;
}

.menu-horizontal {
    padding: 0;
    width: 1250px;
}

.menu-horizontal li {
    display: inline-block;
    box-sizing: border-box;
}

.menu-horizontal li:nth-child(1) {
    vertical-align: top;
    margin-top: 15px;
}

.menu-horizontal li:nth-child(6) {
    vertical-align: top;
    margin-top: 9px;
}

.menu-item {
    height: 48px;
    padding: 0 20px;
    list-style: none;
    line-height: 48px;
    vertical-align: top;
    border: 1px solid #fff;
}
.fa-angle-down:before {
    padding: 0 0 0 6px;
}


.menu-link {
    color: #777;
    text-decoration: none;
}

.menu-item:hover,
.menu-item:focus {
    background-color: #eee;
}

.menu-item:active {
    border: 1px dashed #000;
}
.menu-item-user {
    font-size: 12px;
}
.menu-children {
    display: none;
    position: absolute;
    top: 48px;
    left: 366px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-horizontal .menu-item-child {
    padding: 5px 40px 5px 10px;
    color: #333;
    vertical-align: middle;
    background-color: #eee;
    display: block;
}

.menu-horizontal .menu-item-child:hover {
    color: #fff;
    background-color: #ccc;
}

.menu-item:hover .menu-children {
    display: block;
}

.search-form {
    position: relative;
}

.search-form input[type="text"],
.search-form select,
.search-form textarea {
    margin-left: 334px;
    width: 250px;
    padding: 8px 14px;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 0 2px #ddd;
    border-radius: 2px;
    box-sizing: border-box;
}

.search-form input[type="text"]:focus,
.search-form select:focus,
.search-form textarea:focus {
    outline: none;
    border-color: #7c7bc7;
    box-shadow: 0 0 0.5em #a2def9;
    color: #333;
}

.search-icon {
    position: absolute;
    top: 10px;
    left: 554px;
    color: #ccc;
}

/*.banner {
    width: 1250px;
    height: 580px;
    background-color: blue;
    cursor: pointer; 
    /*opacity: 0.3;*/
}*/
.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

}

.swiper-slide img {
    width: 100%;
    
}
.footer{
    background-color: #f2f2f2;
    width: 100%;
    padding: 100px 50px;
    color: #ccc;
}
